<div>Hi,<br/><br/></div>
<div>
    Congratulations! You have successfully purchased an Experience of title : {{title}} on Tasttlig.<br/>
    <br/>
    You can use your Tasttlig Passport Id: <b>{{passport_id}}</b> to get access to the experience.<br/>
</div>