<tr>
    <td valign="top" class="border-0">
        <table title="" cellspacing="0" cellpadding="0" class="footer-table" width="100%">
            <tbody>
            <tr>
                <td>
                    <p>
                        <span class="padding-margin-0">
                            <font class="padding-margin-0" face="Lucida Sans Unicode, Lucida Grande, sans-serif" size="4" color="#1c2d55">
                                <b class="padding-margin-0">
                                    <i class="padding-margin-0">Tasttlig Team</i>
                                </b>
                            </font>
                        </span>
                    </p>
                    <p>
                        <span class="email-span">hello@tasttlig.com</span>
                        <br>
                    </p>
                    <p>
                        <font size="2" class="padding-margin-0" face="Lucida Sans Unicode, Lucida Grande, sans-serif">
                            <span class="padding-margin-0">Tasttlig Corporation</span>
                        </font>
                    </p>
                    <p>
                        <font size="2" class="padding-margin-0" face="Lucida Sans Unicode, Lucida Grande, sans-serif" color="#0000ff">
                            <span class="padding-margin-0">
                                <span class="padding-margin-0">
                                    <span class="padding-margin-0 cursor-pointer">
                                        <a
                                                href="https://www.google.com/maps/search/585+Dundas+St+E+3rd+Floor?entry=gmail&amp;source=g"
                                                target="_blank"
                                                rel="noopener noreferrer"
                                                class="padding-margin-text-0">
                                            585 Dundas St E. 3rd Floor
                                        </a>
                                    </span>
                                </span>
                            </span>
                        </font>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td valign="top" class="border-0">
        <table title="" cellspacing="0" cellpadding="0" class="footer-banner-table" width="100%">
            <tbody>
            <tr>
                <td>
                    <p>
                        <font size="2" face="Arial,Helvetica,sans-serif" color="#d9d9d9">
                            <br>
                        </font>
                    </p>
                    <p>
                        <font size="2" face="Arial,Helvetica,sans-serif" color="#d9d9d9">Tasttlig Corporation - 2020</font>
                    </p>
                    <p>
                        <font size="2" face="Arial,Helvetica,sans-serif" color="#d9d9d9">
                            <br>
                        </font>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
