<div>
  Sincerely,<br><br>
</div>
<div>
  Tasttlig Team<br><br>
</div>
<div>
  <a
      href="https://tasttlig.com"
      target="_blank"
      rel="noopener noreferrer"
  >
    tasttlig.com
  </a><br><br>
</div>
<div>Tasttlig Corporation</div>
<div>585 Dundas St E, 3rd Floor</div>
<div>Toronto, ON M5A 2B7, Canada</div>