<div>
    <table role="presentation"
           style="width:100%;border-collapse:collapse;border-spacing:0;text-align:left;color: #000000">
        <tr>
            <td>
                <div class="footer" style="display: flex; justify-content: space-between">
                    <div>
                        <p style="margin-bottom:5px;font-size:14px;font-weight:700;text-transform: uppercase">Get
                            Tasttlig
                            App</p>
                        <div class="social">
                            <table role="presentation"
                                   style="border-collapse:collapse;border-spacing:0;text-align:left;">
                                <tr>
                                    <td style="padding-right: 18px">
                                        <a href="https://play.google.com/store/apps">
                                            <img
                                              alt="Android App"
                                              src="https://s3.us-east-2.amazonaws.com/content.tasttlig.com/email/images/app-android.png"/>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://www.apple.com/ca/app-store/">
                                            <img
                                              alt="IOS App"
                                              src="https://s3.us-east-2.amazonaws.com/content.tasttlig.com/email/images/app-ios.png"/>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div>
                        <p style="margin-bottom:5px;font-size:14px;font-weight:700;text-transform: uppercase">Have a
                            question?</p>
                        <div>
                            <span><a href="mailto:hello@tasttlig.com">hello@tasttlig.com</a></span><br/>
                            <span>1-833-308-2783</span>
                        </div>
                    </div>
                    <div>
                        <p style="margin-bottom:5px;font-size:14px;font-weight:700;text-transform: uppercase">Our
                            Address</p>
                        <div>
                            <span>585 Dundas St E 3rd Floor,</span><br/>
                            <span>Toronto, Ontario M5A 2B7</span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td align="center" style="text-align: center">
                <div style="margin-top: 40px">
                    <span style="font-weight: 400;letter-spacing: 1px">© Tasttlig, {{year}}. All Rights Reserved.</span>
                </div>
            </td>
        </tr>
    </table>
</div>