<div class="responsive">
    <table class="w640" role="presentation"
           style="width:100%;border-collapse:collapse;border-spacing:0;text-align:left;color: #000000">
        <tr>
            <td class="stack w640 small-align-center">
                <p style="margin-bottom:5px;font-size:14px;font-weight:700;text-transform: uppercase">Get
                    Tasttlig
                    App</p>
                <div class="social">
                    <a href="https://play.google.com/store/apps" style="padding-right: 18px; text-decoration: none">
                        <img
                          alt="Android App"
                          src="https://s3.us-east-2.amazonaws.com/content.tasttlig.com/email/images/app-android.png"/>
                    </a>
                    <a href="https://www.apple.com/ca/app-store/">
                        <img
                          alt="IOS App"
                          src="https://s3.us-east-2.amazonaws.com/content.tasttlig.com/email/images/app-ios.png"/>
                    </a>
                </div>
            </td>
            <td class="stack w640">
                <p style="margin-bottom:5px;font-size:14px;font-weight:700;text-transform: uppercase">Have a
                    question?</p>
                <div>
                    <span><a href="mailto:hello@tasttlig.com">hello@tasttlig.com</a></span><br/>
                    <span>1-833-308-2783</span>
                </div>
            </td>
            <td class="stack w640">
                <p style="margin-bottom:5px;font-size:14px;font-weight:700;text-transform: uppercase">Our
                    Address</p>
                <div>
                    <span>585 Dundas St E 3rd Floor,</span><br/>
                    <span>Toronto, Ontario M5A 2B7</span>
                </div>
            </td>
        </tr>
    </table>
    <table align="center" class="w640" role="presentation"
           style="width:100%;border-collapse:collapse;border-spacing:0;text-align:left;color: #000000">
        <tr>
            <td class="stack w640" align="center" style="text-align: center">
                <div style="margin-top: 40px">
                    <span style="font-weight: 400;letter-spacing: 1px">© Tasttlig, {{year}}. All Rights Reserved.</span>
                </div>
            </td>
        </tr>
    </table>
</div>