<tr>
    <td valign="top" style="border: 0px">
        <table title="" cellspacing="0" cellpadding="0" style="text-rendering: optimizeLegibility; font-size: 13px; letter-spacing: normal; font-family: Arial, Helvetica, sans-serif; min-width: 100%; max-width: 100%; table-layout: fixed; border: 0px; border-collapse: collapse; background-color: rgb(255, 255, 255)" width="100%">
            <tbody>
            <tr>
                <td style="word-wrap: break-word; word-break: break-word; border: 0px; padding: 6px 30px; border-top: 0px none rgb(17, 17, 17); border-bottom: 0px none rgb(17, 17, 17); font-family: Arial, Helvetica, sans-serif">
                    <p style="line-height: normal; padding: 0px; margin: 0px">
                        <span style="padding: 0px; margin: 0px">
                            <font style="padding: 0px; margin: 0px" face="Lucida Sans Unicode, Lucida Grande, sans-serif" size="4" color="#1c2d55">
                                <b style="padding: 0px; margin: 0px">
                                    <i style="padding: 0px; margin: 0px">Tasttlig Team</i>
                                </b>
                            </font>
                        </span>
                    </p>
                    <p style="line-height: normal; padding: 0px; margin: 0px">
                        <span style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: small">hello@tasttlig.com</span>
                        <br>
                    </p>
                    <p style="padding: 0px; margin: 0px"></p>
                    <p style="line-height: normal; padding: 0px; margin: 0px">
                        <font size="2" style="padding: 0px; margin: 0px" face="Lucida Sans Unicode, Lucida Grande, sans-serif">
                            <span style="padding: 0px; margin: 0px">Tasttlig Corporation</span>
                        </font>
                    </p>
                    <p style="line-height: normal; padding: 0px; margin: 0px">
                        <font size="2" style="padding: 0px; margin: 0px" face="Lucida Sans Unicode, Lucida Grande, sans-serif" color="#0000ff">
                            <span style="padding: 0px; margin: 0px">
                                <span style="padding: 0px; margin: 0px">
                                    <span style="cursor: pointer; padding: 0px; margin: 0px">
                                        <a href="https://www.google.com/maps/search/585+Dundas+St+E+3rd+Floor?entry=gmail&amp;source=g" target="_blank" rel="noopener noreferrer" style="padding: 0px; margin: 0px; text-decoration: none">585 Dundas St E. 3rd Floor</a>
                                    </span>
                                </span>
                            </span>
                        </font>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td valign="top" style="border: 0px">
        <table title="" cellspacing="0" cellpadding="0" style="text-rendering: optimizeLegibility; font-size: 13px; letter-spacing: normal; font-family: Arial, Helvetica, sans-serif; min-width: 100%; max-width: 100%; table-layout: fixed; border: 0px; border-collapse: collapse; background-color: rgb(0, 0, 0)" width="100%">
            <tbody>
            <tr>
                <td style="word-wrap: break-word; word-break: break-word; border: 0px; padding: 6px 30px; border-top: 0px none rgb(17, 17, 17); border-bottom: 0px none rgb(17, 17, 17); font-family: Arial, Helvetica, sans-serif">
                    <p style="text-align: center; padding: 0px; margin: 0px">
                        <font size="2" face="Arial,Helvetica,sans-serif" style="" color="#d9d9d9">
                            <br>
                        </font>
                    </p>
                    <p style="text-align: center; padding: 0px; margin: 0px">
                        <font size="2" face="Arial,Helvetica,sans-serif" style="" color="#d9d9d9">Tasttlig Corporation - 2020</font>
                    </p>
                    <p style="text-align: center; padding: 0px; margin: 0px">
                        <font size="2" face="Arial,Helvetica,sans-serif" style="" color="#d9d9d9">
                            <br>
                        </font>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
</tbody>
</table>
</td>
</tr>