<div>
    <img src="https://s3.us-east-2.amazonaws.com/content.tasttlig.com/email/images/Rectangle.png"
         alt="Tasttlig Logo" width="140" style="height:auto;display:block;"/>
    <p style="font-family: 'Montserrat',sans-serif">Showcasing the world in the best light</p>
</div>