<tr>
  <td valign="top" style="border: 0px">
    <table title="" cellspacing="0" cellpadding="0"
      style="min-width: 100%; max-width: 100%; table-layout: fixed; border: 0px; border-collapse: collapse; background-color: rgb(0, 0, 0)"
      width="100%">
      <tbody>
        <tr>
          <td
            style="word-wrap: break-word; word-break: break-word; border: 0px; padding: 6px 30px; border-top: 0px none rgb(152, 0, 0);">
            <p style="width: 100%; padding: 0px; margin: 0px">
              <a href="https://tasttlig.com" target="_blank" rel="noopener noreferrer" title="https://tasttlig.com">
                <img alt="" imgsize="S"
                  src="https://s3.us-east-2.amazonaws.com/tasttlig.com/static/media/logo.3d0c434e.png" orgwidth="1301"
                  width="135" height="57.484375">
              </a>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td valign="top" style="border: 0px">
    <table title="" cellspacing="0" cellpadding="0"
      style="min-width: 100%; max-width: 100%; table-layout: fixed; border: 0px; border-collapse: collapse; background-color: rgba(0, 0, 0, 0)"
      width="100%">
      <tbody>
        <tr>
          <td
            style="word-wrap: break-word; word-break: break-word; border: 0px; padding: 0px 0px; border-top: 0px none rgb(17, 17, 17); border-bottom: 0px none rgb(17, 17, 17)">
            <p style="width: 100%; padding: 0px; margin: 0px">
              <a href="https://tasttlig.com" target="_blank" rel="noopener noreferrer" title="https://tasttlig.com">
                <img alt="" imgsize="B"
                  src="https://images.unsplash.com/photo-1528605248644-14dd04022da1?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                  orgwidth="1050" width="600" title="https://tasttlig.com" height="400">
              </a>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>