<div style="border-top: 1px solid #D6D6D6">
    <div style="margin:50px 0">
        <p style="font-size: 14px;text-transform: uppercase;font-weight: 700">Follow us</p>
        <table role="presentation" style="border-collapse:collapse;border-spacing:0;text-align:center;">
            <tr>
                <td align="center" width="28" style="width: 28px; padding-right: 54px">
                    <a href="https://instagram.com">
                        <img alt="Instagram"
                             src="https://s3.us-east-2.amazonaws.com/content.tasttlig.com/email/images/so-instagram.png"/>
                    </a>
                </td>
                <td align="center" width="28" style="width: 28px; padding-right: 54px">
                    <a href="https://facebook.com">
                        <img alt="Facebook"
                             src="https://s3.us-east-2.amazonaws.com/content.tasttlig.com/email/images/so-facebook.png"/>
                    </a>
                </td>
                <td align="center" width="28" style="width: 28px">
                    <a href="https://instagram.com">
                        <img alt="LinkedIn"
                             src="https://s3.us-east-2.amazonaws.com/content.tasttlig.com/email/images/so-linkedin.png"/>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>