<div>Hello {{first_name}} {{last_name}}<br /><br /></div>
<div>
  We are so glad you joined us!<br /><br />
</div>
<div>
  Please see attachment to get your passport for the festival<br /><br />
</div>
