<h3>Welcome {{first_name}},</h3>

<h5>
    We're happy you're here!
</h5>

<p>
    Our goal here at Tasttlig is to connect everyone to experience different cultures through food and entertainment in
    our festivals. Here are a few things to help you get started:
</p>

<table role="presentation"
       style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
    <tr>
        <td>
            <div class="d-flex flex-wrap-reverse" style="margin: 30px 0">
                <div class="ds-l">
                    <span style="color:#88171A;font-size:14px;font-weight:bold"><strong>Passport</strong></span><br/>
                    <span>Tasttlig’s Passport is your identification to access everything on the platform.</span>
                </div>
                <div class="ds-r" style="width: 150px">
                    <img alt="Tasttlig Passport" style="width: 100px"
                         src="https://s3.us-east-2.amazonaws.com/content.tasttlig.com/email/images/gw-passport-svg.png"/>
                </div>
            </div>
            <div class="d-flex flex-wrap" style="margin: 30px 0">
                <div class="ds-l" style="width: 150px">
                    <img alt="Tasttlig Festivals" style="width: 150px"
                         src="https://s3.us-east-2.amazonaws.com/content.tasttlig.com/email/images/gw-festivals-svg.png"/>
                </div>
                <div class="ds-r">
                    <span style="color:#88171A;font-size:14px;font-weight:bold">Festivals</span><br/>
                    <span>Explore our cultural and multicultural festivals to experience entertainment from every culture.</span>
                </div>
            </div>
            <div class="d-flex flex-wrap-reverse" style="margin: 30px 0">
                <div class="ds-l">
                    <span style="color:#88171A;font-size:14px;font-weight:bold">Experiences</span><br/>
                    <span>Discover hundreds of cultural experiences filled with food, entertainment and hosted by people from every cultural background.</span>
                </div>
                <div class="ds-r" style="width: 150px">
                    <img alt="Tasttlig Experiences" style="width: 150px"
                         src="https://s3.us-east-2.amazonaws.com/content.tasttlig.com/email/images/gw-experiences-svg.png"/>
                </div>
            </div>
            <div class="d-flex flex-wrap" style="margin: 30px 0">
                <div class="ds-l" style="width: 150px">
                    <img alt="Tasttlig Deals" style="width: 150px"
                         src="https://s3.us-east-2.amazonaws.com/content.tasttlig.com/email/images/gw-deals.png"/>
                </div>
                <div class="ds-r">
                    <span style="color:#88171A;font-size:14px;font-weight:bold">Deals +</span><br/>
                    <span>Find deals, specials, and samples from businesses promoting in our festivals.</span>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <div style="margin: 30px 0">
                <a class="btn" href="https://tasttlig.com">Explore Your Passport</a>
            </div>
        </td>
    </tr>
    <tr>
        <td align="left">
            <p>We hope you have a pleasant experience exploring our festivals.</p>
            <h4>Thank you for joining Tasttlig.</h4>
        </td>
    </tr>
</table>