<html>
<body>
<table cellpadding="0" cellspacing="0" width="100%" style="width: 100%; border: 0px; font-family: Arial, Helvetica, sans-serif; color: rgb(17, 17, 17); font-size: 13px; border-collapse: collapse; letter-spacing: normal; text-rendering: optimizeLegibility; background-color: rgb(240, 240, 240)">
    <tbody>
    <tr>
        <td align="center" style="border: 0px; padding-top: 10px; padding-bottom: 20px">
            <br>
            <table cellpadding="0" cellspacing="0" width="600" style="min-width: 600px; max-width: 600px; width: 600px; border: 0px; border-collapse: collapse; table-layout: fixed; background-color: rgb(255, 255, 255)">
                <tbody>
                <tr>
                    <td valign="top" width="600" style="width: 600px; border: 0px; min-height: 570px; word-wrap: break-word; word-break: break-word">
                        <table cellspacing="0" cellpadding="0" style="min-width: 100%; max-width: 100%; table-layout: fixed; border: 0px; border-collapse: collapse" width="100%">
                            <tbody>
                            {{> header }}







                            <tbody>
                            <tr>
                                <td style="word-wrap: break-word; word-break: break-word; border: 0px; padding: 6px 30px; border-top: 0px none rgb(17, 17, 17); border-bottom: 0px none rgb(17, 17, 17); font-family: Arial, Helvetica, sans-serif">
                                    <div style="margin: 0px">
                                        <div style="margin: 0px">
<!--                                            <p style="padding: 0px; margin: 0px">-->
<!--                                                <font face="Lucida Sans Unicode, Lucida Grande, sans-serif">-->
<!--                                                    <br>-->
<!--                                                </font>-->
<!--                                            </p>-->
<!--                                            <p style="padding: 0px; margin: 0px">-->
<!--                                                <span style="padding: 0px; margin: 0px">-->
<!--                                                    <font size="3" face="Lucida Sans Unicode, Lucida Grande, sans-serif">-->
<!--                                                        <br>-->
<!--                                                    </font>-->
<!--                                                </span>-->
<!--                                            </p>-->
<!--                                            <p style="padding: 0px; margin: 0px">-->
<!--                                                <span style="padding: 0px; margin: 0px">-->
<!--                                                    <font size="3" face="Lucida Sans Unicode, Lucida Grande, sans-serif">-->
<!--                                                        <br>-->
<!--                                                    </font>-->
<!--                                                </span>-->
<!--                                            </p>-->
<!--                                            <p style="padding: 0px; margin: 0px">-->
<!--                                                <span style="padding: 0px; margin: 0px">-->
<!--                                                    <font size="3" face="Lucida Sans Unicode, Lucida Grande, sans-serif">-->
<!--                                                        <br>-->
<!--                                                    </font>-->
<!--                                                </span>-->
<!--                                            </p>-->
<!--                                            <p style="padding: 0px; margin: 0px">-->
<!--                                                <span style="padding: 0px; margin: 0px">-->
<!--                                                    <font size="3" face="Lucida Sans Unicode, Lucida Grande, sans-serif">Hello {{first_name}} {{last_name}},</font>-->
<!--                                                </span>-->
<!--                                            </p>-->
<!--                                            <p style="padding: 0px; margin: 0px">-->
<!--                                                <span style="padding: 0px; margin: 0px">-->
<!--                                                    <font size="3" face="Lucida Sans Unicode, Lucida Grande, sans-serif">-->
<!--                                                        <br>-->
<!--                                                    </font>-->
<!--                                                </span>-->
<!--                                            </p>-->
<!--                                            <p style="padding: 0px; margin: 0px">-->
<!--                                                <font face="Lucida Sans Unicode, Lucida Grande, sans-serif">-->
<!--                                                    <span style="padding: 0px; margin: 0px">-->
<!--                                                        <font size="3">Congratulations! You have successfully created a new Food Sample with the Title:{{title}} on Tasttlig. Your current status of the Food sample is ACTIVE.</font>-->
<!--                                                    </span>-->
<!--                                                    <br>-->
<!--                                                </font>-->
<!--                                            </p>-->
<!--                                            <p style="font-size: 20.8px; line-height: normal; padding: 0px; margin: 0px">-->
<!--                                                <span style="font-size: 11.5pt; padding: 0px; margin: 0px">-->
<!--                                                    <font color="#000000" face="Lucida Sans Unicode, Lucida Grande, sans-serif">&nbsp;</font>-->
<!--                                                </span>-->
<!--                                            </p>-->
<!--                                            <p style="font-size: 20.8px; line-height: normal; padding: 0px; margin: 0px">-->
<!--                                                <span style="font-size: 11.5pt; padding: 0px; margin: 0px">-->
<!--                                                    <font color="#000000" face="Lucida Sans Unicode, Lucida Grande, sans-serif">-->
<!--                                                        <br>-->
<!--                                                    </font>-->
<!--                                                </span>-->
<!--                                            </p>-->
<!--                                            <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20.8px; line-height: normal; padding: 0px; margin: 0px">-->
<!--                                                <span style="font-size: 11.5pt; font-family: Arial, sans-serif; padding: 0px; margin: 0px">-->
<!--                                                    <font color="#000000">-->
<!--                                                        <br>-->
<!--                                                    </font>-->
<!--                                                </span>-->
<!--                                            </p>-->
                                            {{{body}}}

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
















                            {{> footer }}

                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>