<div>Hello {{first_name}} {{last_name}},<br/><br/></div>
<div>
    Congratulations! You have successfully purchased a subscription on Tasttlig.<br/>
    <br/>
    If your current status is INACTIVE, it will change to ACTIVE after successful upgradation to become a HOST.<br/>
</div>