<div>Hello {{first_name}} {{last_name}},<br><br></div>
<div>
    Congratulations! You have successfully created a new experience with the Title: {{title}} on Tasttlig. Your current status of the experience is {{status}}<br>
    <br>
    If your current status is INACTIVE, it will change to ACTIVE after successful upgradation to become a HOST.<br>
</div>