<div>Hello {{first_name}} {{last_name}},<br><br></div>
<div>
    Your request for {{title}} as been received and is being processed. You will receive a confirmation email once your
    request has been confirmed.<br><br>
</div>