<div>Hello {{first_name}} {{last_name}},<br /><br /></div>
<div>
  Restaurants have been notified on reservations. Your request for
  {{title}}
  is being processed. You will receive a confirmation email once your request
  has been confirmed.<br /><br />
</div>