<div>Hello {{first_name}} {{last_name}},<br /><br /></div>
<div>
  Congratulations! You have successfully created a new Food Sample with the
  Title:
  {{title}}
  on Tasttlig. Your current status of the Food sample is
  {{status}}.<br />
  <br />
  If your current status is INACTIVE and you agreed to participate in festival,
  it will change to ACTIVE after successful application.<br />
</div>