<div>Hello,<br><br></div>
<div>
  There was a request to reset your password. If so, please click on the link below. If not, disregard this email.<br><br>
</div>
<div>
  <a href="{{url}}">Reset Your Password</a><br><br>
</div>