<div>Hello,<br><br></div>
<div>
    There was a request to reset your password. If so, please click on the link below. If not, disregard this email.<br><br>
</div>
<div>
    Password Reset Link: <a href="{{url}}" target="_blank" rel="noopener noreferrer">{{url}}</a><br><br>
</div>
<a style="font-size: 13px;">
    If the above link does not work, copy and paste the following URL in your browser to reset your password.<br>
    {{url}}<br>
</a><br><br>