<h3>Hi {{first_name}}, let’s reset your password.</h3>

<p>
    Click below to reset your password.
</p>

<p style="padding: 20px 0 20px 0">
    <a href="{{{url}}}" target="_blank" rel="noopener noreferrer" class="tastt-btn">
        Reset Password
    </a>
</p>

<p>
    If the above button does not work for you, copy and paste the following URL into your browser:
</p>

<p>{{url}}</p>

<p>If you did not make a password request, please disregard this email.</p>

<p>
    If you need further assistance or have questions, please contact us at <a href="mailto:hello@tasttlig.com">hello@tasttlig.com.</a>
</p>