<p>Hi {{first_name}},</p>

<p>Your Tasttlig password has been updated.</p>

<p>
    If you made these changes, please disregard this email. If this was not you, make your account safe and secure by
    <a href="{{siteBase}}/reset-password">resetting your password</a>.
</p>

