<div>Hello,<br><br></div>
<div>
  The food sample entitled "{{title}}" has been rejected to post on Tasttlig. For reason/suggestions, please see
  below.<br><br>
</div>
<div>
  Reason/Suggestions: {{review_food_sample_reason}}<br><br>
</div>