<div>Hello,<br><br></div>
<div>
  There has been an experience created by Tasttlig entitled "{{title}}" on your behalf. Please review and confirm or
  reject the item.<br><br>
</div>
<div>
  Review Experience Link: <a href="{{url_review_experience}}" target="_blank" rel="noopener noreferrer">{{url_review_experience}}</a><br><br>
</div>