<div>Hello,<br><br></div>
<div>
    There has been a food sample created by Tasttlig entitled "{{title}}" on your behalf. Please review and confirm or
    reject the item.<br><br>
</div>
<div>
    Review Food Sample Link: <a href="{{url_review_food_sample}}" target="_blank" rel="noopener noreferrer">{{url_review_food_sample}}</a><br><br>
</div>