<h3>Welcome to Tasttlig!</h3>

<p>
    Hi {{first_name}},
</p>

<p>
    Thank you for joining us at Tasttlig! Before you can use your account, you need to verify your email.
    Click the button below:
</p>

<p style="padding-top: 40px">
    <a href="{{{urlVerifyEmail}}}" target="_blank" rel="noopener noreferrer" class="tastt-btn">
        Verify Your Email
    </a>
</p>