<div>Hello {{first_name}} {{last_name}},<br><br></div>
<div>
  We are so glad you joined us!<br><br>
</div>
<div>
  Please kindly verify your email to host experiences on Tasttlig.<br><br>
</div>
<div>
  <a href="{{url_verify_email}}">Verify Email</a><br><br>
</div>