<div>
    Hello {{first_name}} {{last_name}},<br><br>
</div>
<div>
    We are so glad that you choose Tasttlig!
    <br><br>
</div>
<div>
    Our team will review your application. If you are
    successful, we will grant you access online to
    create your profile and experience.<br><br>
</div>
<div>
    We appreciate your interest in Tasttlig and are
    looking forward to working with you.<br><br>
</div>