<div>
    Hello {{first_name}} {{last_name}},<br><br>
</div>
<div>
    We are so glad that you chose Tasttlig!
    <br><br>
</div>
<div>
    We’ve received your request and have started reviewing your application.
    To view status, simply sign into your account.
    We’re committed to helping you grow your business.
    Please remember: Our selection criteria ensures that we meet the highest expectations of our hosts and
    guests who will be the primary supporters of your business.<br><br>
</div>
<div>
    We appreciate your interest in Tasttlig and are
    looking forward to working with you.<br><br>
</div>