<div>Hello {{first_name}} {{last_name}},<br><br></div>
<div>
    Congratulations! Your document for Host is accepted from Tasttlig. You can now publish experiences on the Tasttlig website.<br><br>
</div>