<div>Hello {{first_name}} {{last_name}},<br><br></div>
<div>
    Congratulations! Your document for {{role_name}} is accepted from Tasttlig. You can now publish experiences on the Tasttlig website.<br><br>

    All Experiences created by you are now active on tasttlig.com.

    If you Agreed to participate in the festival, then all your food samples are now active on tasttlig.com.
</div>