<div>Hello {{first_name}} {{last_name}},<br><br></div>
<div>
    Congratulations! Your document for {{role_name}} is accepted from Tasttlig. You can now publish experiences or food samples on the <a href="https://tasttlig.com">Tasttlig</a> website.<br><br>

    All {{active_item}} created by you are now active on tasttlig.com.
</div>