<div>Hello {{first_name}} {{last_name}},<br><br></div>
<div>
    You have an vendor applicant at your dashboard
    It will be accpet automatically after 72 hours
    If you wish to decline, you can use
    <Link to="http://localhost:3000/host-review/all-vendor-applicants">
              Dashboard
    </Link>
</div>